

	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="index.html" title="Home">Home</a></li>
					<li>My account</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
		
			<!--content-->
			<section class="content">
				<!--row-->
				<div class="row">
					<!--profile left part-->
					<div class="my_account one-fourth wow fadeInLeft">
						<figure>
							<% if @user.avatar_url.nil? %>
								<img src="/images/avatar4.jpg" alt="" id="avatar" height="270px" width="270px" />
							<% else %>
								<img src="<%= @user.avatar_url %>" alt="" id="avatar" height="270px" width="270px"/>
							<% end %>
						</figure>
						<div class="container">
							<h2><%= session[:user]["name"] %></h2> 
						</div>
					</div>
					<!--//profile left part-->
					
					<div class="three-fourth wow fadeInRight">
						<nav class="tabs">
							<ul>
								<li class="active"><a href="#about" title="About me">About me</a></li>
								<li><a href="#recipes" title="My recipes">My products</a></li>
								<li><a href="#favorites" title="My favorites">My favorites</a></li>
								<li><a href="#posts" title="My posts">Edit Info</a></li>
							</ul>
						</nav>
						
						<!--about-->
						<div class="tab-content" id="about">
							<div class="row">
								<dl class="basic two-third">
									<dt>Name</dt>
									<dd><%= @user.name %></dd>
									<dt>Email</dt>
									<dd><%= @user.email %></dd>
									<dt>Address</dt>
									<dd><%= @user.address %></dd>
									<dt>Phone</dt>
									<dd><%= @user.phone %></dd>
									<dt>Products submitted</dt>
									<dd><%= @user.products.count %></dd>
									<dt>Posts submitted</dt>
									<dd>9</dd>
								</dl>
								
								<div class="one-third">
									<ul class="boxed gold">
										<li class="light"><a href="#" title="Best recipe"><i class="ico i-had_best_recipe"></i> <span>Had a best recipe</span></a></li>
										<li class="medium"><a href="#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
										<li class="dark"><a href="#" title="Added a first recipe"><i class="ico i-added_first_recipe"></i> <span>Added a first recipe</span></a></li>
										
										<li class="medium"><a href="#" title="Added 10-20 recipes"><i class="ico i-added_several_recipes"></i> <span>Added 10-20 recipes</span></a></li>
										<li class="dark"><a href="recipes.html" title="Events"><i class="ico i-wrote_blog_post"></i> <span>Wrote a blog post</span></a></li>
										<li class="light"><a href="recipes.html" title="Fish"><i class="ico i-wrote_comment"></i> <span>Wrote a comment</span></a></li>
										
										<li class="dark"><a href="recipes.html" title="Fish"><i class="ico i-won_contest"></i> <span>Won a contest</span></a></li>
										<li class="light"><a href="recipes.html" title="Healthy"><i class="ico i-shared_recipe"></i> <span>Shared a recipe</span></a></li>
										<li class="medium"><a href="#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--//about-->
					
						<!--my recipes-->
						<div class="tab-content" id="recipes">
							<div class="entries row">

								<% @products.each do |product| %>
									<!--item-->
									<div class="entry one-third">
										<figure>
											<img src="<%= product.photo %>" alt="" height="203px" style="margin: auto"/>
											<figcaption><a href="/products/detail/<%= product.id %>"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
										</figure>
										<div class="container">
											<h2><a href="/products/detail/<%= product.id %>"><%= product.title %></a></h2> 
											<div class="actions">
												<div>
													<div class="difficulty"><i class="ico i-medium"></i><a href="#"><%= product.price %></a></div>
													<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
													<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments"><%= product.comments.count%></a></div>
												</div>
											</div>
										</div>
									</div>
									<!--item-->
								<% end %>
							</div>
						</div>
						<!--//my recipes-->
						
						
						<!--my favorites-->
						<div class="tab-content" id="favorites">
							<div class="entries row">
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="/images/img6.jpg" alt="" />
										<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
												<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
												<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
								
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="/images/img5.jpg" alt="" />
										<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
												<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
												<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
								
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="/images/img8.jpg" alt="" />
										<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
												<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
												<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
							</div>
						</div>
						<!--//my favorites-->
						
						<!--my posts-->
						<div class="tab-content" id="posts">
							<!--entries-->
							<!-- <div class="entries row"> -->
								<form id="edit_info" action="/users/edit/<%= @user.id %>" method="post" enctype="multipart/form-data">
									<div class="row">
											<dl class="basic two-third" style="width:100%">
												<dt>Email</dt>
												<dd><%= @user.email %></dd>
												<dt>Name</dt>
												<dd><input type="text" placeholder="Enter your name" name="user[name]" value="<%= @user.name %>"></dd>
												<dt>Address</dt>
												<dd><input type="text" placeholder="Enter your address" name="user[address]" value="<%= @user.address %>"></dd>
												<dt>Phone</dt>
												<dd><input type="text" placeholder="Enter your phone" name="user[phone]" value="<%= @user.phone %>" ></dd>
												<dt>Avatar</dt>
												<dd><input type="file" onchange="previewFile()" name="user[avatar]"></dd>
												<!-- <dt>Products submitted</dt> -->
												<input type="submit" value="Submit" style="display:block; margin:auto">
											</dl>
										</div>
									</div>
								</form>
							<!-- </div> -->
							<!--//entries-->
						</div>
						<!--//my posts-->
					</div>
				</div>
				<!--//row-->
			</section>
			<!--//content-->
		</div>

		<script>
			function previewFile() {
				var preview = document.querySelector('#avatar');
				var file    = document.querySelector('input[type=file]').files[0];
				var reader  = new FileReader();

				reader.onloadend = function () {
					preview.src = reader.result;
				}

				if (file) {
					reader.readAsDataURL(file);
				} else {
					preview.src = "";
				}
			}
		</script>
		<!--//wrap-->
	</main>
	<!--//main-->
