
	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="index.html" title="Home">Home</a></li>
					<li>Recipes</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>Recipes</h1>
				</header>
				
				<aside class="above-sidebar full-width  wow fadeInDown">
					<ul class="boxed">
						<li class="light"><a href="recipes.html" title="Appetizers"><i class="ico i-appetizers"></i> <span>Apetizers</span></a></li>
						<li class="medium"><a href="recipes.html" title="Cocktails"><i class="ico i-cocktails"></i> <span>Cocktails</span></a></li>
						<li class="dark"><a href="recipes.html" title="Deserts"><i class="ico i-deserts"></i> <span>Deserts</span></a></li>
						
						<li class="light"><a href="recipes.html" title="Cocktails"><i class="ico i-eggs"></i> <span>Eggs</span></a></li>
						<li class="medium"><a href="recipes.html" title="Equipment"><i class="ico i-equipment"></i> <span>Equipment</span></a></li>
						<li class="dark"><a href="recipes.html" title="Events"><i class="ico i-events"></i> <span>Events</span></a></li>
					
						<li class="light"><a href="recipes.html" title="Fish"><i class="ico i-fish"></i> <span>Fish</span></a></li>
						<li class="medium"><a href="recipes.html" title="Ftness"><i class="ico i-fitness"></i> <span>Fitness</span></a></li>
						<li class="dark"><a href="recipes.html" title="Healthy"><i class="ico i-healthy"></i> <span>Healthy</span></a></li>
						
						<li class="medium"><a href="recipes.html" title="Asian"><i class="ico i-asian"></i> <span>Asian</span></a></li>
						<li class="dark"><a href="recipes.html" title="Mexican"><i class="ico i-mexican"></i> <span>Mexican</span></a></li>
						<li class="light"><a href="recipes.html" title="Pizza"><i class="ico i-pizza"></i> <span>Pizza</span></a></li>
						
						<li class="medium"><a href="recipes.html" title="Kids"><i class="ico i-kids"></i> <span>Kids</span></a></li>
						<li class="dark"><a href="recipes.html" title="Meat"><i class="ico i-meat"></i> <span>Meat</span></a></li>
						<li class="light"><a href="recipes.html" title="Snacks"><i class="ico i-snacks"></i> <span>Snacks</span></a></li>

						<li class="medium"><a href="recipes.html" title="Salads"><i class="ico i-salads"></i> <span>Salads</span></a></li>
						<li class="dark"><a href="recipes.html" title="Storage"><i class="ico i-storage"></i> <span>Storage</span></a></li>
						<li class="light"><a href="recipes.html" title="Vegetarian"><i class="ico i-vegetarian"></i> <span>Vegetarian</span></a></li>
					</ul>
				</aside>

				<!--content-->
				<section class="content full-width wow fadeInUp">
					<!--entries-->
					<div class="entries row">
						<% i = 0 %>
						<% @products.each do |product| %>
							<!--item-->
							<div class="entry one-fourth wow fadeInLeft" data-wow-delay="<%= i %>s">
								<figure>
									<img src="<%= product.photo %>" alt="" height="203px" style="margin: auto"/>
									<figcaption><a href="/products/detail/<%= product.id %>"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a href="/products/detail/<%= product.id %>"><%= product.title %></a></h2> 
									<div class="actions">
										<div>
											<div class="difficulty"><i class="ico i-medium"></i><a href="#"><%= product.price %></a></div>
											<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments"><%= product.comments.count %></a></div>
										</div>
									</div>
								</div>
							</div>
							<!--item-->

							<% i += 0.2 %>
						<% end %>

						<div class="quicklinks">
							<a href="#" class="button">More recipes</a>
							<a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
						</div>
					</div>
					<!--//entries-->
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
	


